
frontend/node_modules
frontend/out
frontend/build
frontend/.next  

backend/.venv
backend/_pycache_
backend/.env

lambda-deployment.zip
lambda-package/

# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
terraform.tfstate.d/
*.tfvars
!terraform.tfvars
!prod.tfvars